body{
    margin: 0;
    text-align: center;
}
header{
    margin-bottom: 100px;
    text-align: center;
    margin: 0 auto;;
    width: 431px;
    height: 30px;
    font-weight: bold;
    font-size: 34px;
    font-family: 'Tiny5';
    padding-top: 10px;
    padding-bottom: 10px;
}